/* lato-300 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
    url('fonts/lato-v14-latin-300.woff2') format('woff2'),
    url('fonts/lato-v14-latin-300.woff') format('woff');
}
/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
    url('fonts/lato-v14-latin-regular.woff2') format('woff2'),
    url('fonts/lato-v14-latin-regular.woff') format('woff');
}
/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
    url('fonts/lato-v14-latin-700.woff2') format('woff2'),
    url('fonts/lato-v14-latin-700.woff') format('woff');
}

/*
primary 2c3133
dark 232729
accent 1abc9c
*/

html, body, .viewport {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}
.viewport {
    position: absolute;

    display: flex;
    flex-direction: column;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;

    color: #fff;
    background-color: #000;

    /* text-shadow: 0 0 1px rgba(0,0,0, .3); fake-smoothing */

    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    animation: app-fadeIn 0.5s; /*smoother startup*/

    /* margin: 5px;
    width: calc(100% - 10px);add margins
    height: calc(100% - 10px);
    border: 1px solid #1e2323;
    border-radius: 6px;
    */
}
@keyframes app-fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
*, *::before, *::after {
    box-sizing: border-box;
}

article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section {
    display:block
}

a {
    color: #fff;
    text-decoration: none;
}
input, button, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
}
button {
    font-weight: 400;
}
button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background-color: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* window frame */

app-titlebar {
    -webkit-app-region: drag; /* electron frame */
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 45px;
    min-height: 45px;

    font-size: 15px;
    font-weight: 400;

    background-color: #2c3133;
    /* background-image: linear-gradient(to top, #25292b, #2a2e30 2px, #2c3133 3px); */
    box-shadow: inset 0 1px rgba(238,238,236, 0.07); /*fg_color*/
    /* border-bottom: 1px solid #0b0c0c; */

    padding: 5px;
}
.is-mobile app-titlebar {
    height: 40px;
    min-height: 40px;
}
.is-mobile app-controls {
    display: none;
}

app-titlebar .title {
    padding: 0 10px;
    width: 100%; /* left controls size*/
    text-align: center;
}

app-controls { /* main app buttons controls*/
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

}
app-titlebar button {
    -webkit-app-region: no-drag;
    cursor: pointer;

    display: block;
    border: 0;
    border-radius: 4px;
    padding: 17px;

    background: transparent no-repeat center;
    background-size: 16px;
    margin-right: 5px;

    transition: all 200ms ease;
}
app-titlebar button:last-of-type {
    margin-right: 0;
}
app-titlebar button:hover {
    background-color: #1abc9c;
}
app-titlebar button:active {
    background-color: #16a085;
}

app-titlebar button.minimize {
    background-image: url(imgs/window-minimize.svg);
}
app-titlebar button.maximize {
    background-image: url(imgs/window-maximize.svg);
}
app-titlebar button.close {
    background-image: url(imgs/window-close.svg);
}



app-toolbar { /* toolbar with main icons */
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    align-items: center;

    height: 45px;
    min-height: 45px;

    padding: 5px;
    background-color: #2c3133;
}
app-toolbar button {
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 0 15px;
    padding-left: 40px;
    margin-right: 5px;
    height: 35px;

    background-position: 8px center;/*24px icon - 40*/
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: transparent;

    transition: background-color 200ms ease;
}
app-toolbar button:last-of-type {
    margin-right: 0;
}

app-toolbar button.hamburger {
    display: none;/*responsive*/
    background-image: url(imgs/emblem-grid.svg);
}
app-toolbar button.open {
    background-image: url(imgs/icon-open.svg);
}
app-toolbar button.save {
    background-image: url(imgs/icon-save.svg);
}
app-toolbar button.new {
    background-image: url(imgs/icon-new-product.svg);
}

app-toolbar button:hover {
    background-color: #1abc9c;
}
app-toolbar button:active {
    background-color: #16a085;
}


/* providers list*/

#providers {
    display: flex;
    margin-left: auto;/*align right flex*/
}
  
.provider-switch {
    display: none;
}

.provider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    cursor: pointer;
    height: 35px;
    border-radius: 4px;
    padding: 0 15px;
}
.provider-lang {
    font-weight: 700;
    margin-left: 5px;
}
.provider-switch:checked + .provider {
    background-color: #1abc9c;
}
.provider-switch:checked + .provider:hover {
    background-color: #48c9b0;
}




app-layout { /* main content with colmun and product info */
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
    overflow: hidden;
    position: relative; /*sidebar*/
}








app-sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;

    border-right: 1px solid #1b1f20;
    background-color: #2b3032;
    color: #fff;
}



search-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 80px;
    min-height: 80px;

    padding: 20px;
    background-color: #373d41;
}
search-toolbar .search-input {
    color: #999;
    font-size: 15px;
    width: 100%;
    padding: 10px 20px;
    padding-left: 40px;

    border: 1px solid transparent;
    border-radius: 50px;
    transition: border 200ms ease;
    background: #2c3133 url(imgs/icon-search.svg) no-repeat 12px center;
    background-size: 16px;
}
search-toolbar .search-input:focus {
    border-color: #1abc9c;
}






@keyframes outToRight {
    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}
@keyframes inFromRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes outToLeft {
    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}
@keyframes inFromLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
product-items { /*left column*/
    user-select: none;
    -webkit-user-select: none;

    font-weight: 400;

    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
product-item { /* single title item */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;

    min-height: 40px; /*TODO*/
    padding: 5px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;

    cursor: pointer;
    transition: all 200ms ease;
    animation: inFromRight 0.3s;
}
product-item:hover {
    background-color: #34393b;
}
product-item.is-selected {
    background-color: #1abc9c;
}
product-item.is-selected:hover {
    background-color: #48c9b0;
}
product-item.is-selected:active {
    background-color: #16a085;
}

product-item .favorite {
    display: block;

    background: url(imgs/emblem-favorite.svg) transparent no-repeat center;
    background-size: 20px;

    padding: 10px;
}



product-panel {
    flex: 1;
    display: block;
    overflow-y: auto;
    background-color: #232729;
}



product-preview { /* right panel with all product stuffs */
    user-select: none;
    -webkit-user-select: none;
    cursor: default;

    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    overflow: hidden;
    overflow-y: auto;
}

product-preview .video-panels {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-bottom: 30px;
}
product-preview .video-panel-title {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;

    margin-bottom: 20px;
}
product-preview .video-panel-subtitle {
    font-size: 16px;
}


product-preview .video-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



product-preview .video-attributes {
    flex: 1;
    font-weight: 400;
}
product-preview .video-attributes label {
    font-weight: 700;
    margin-right: 10px;
    width: 100px;
    min-width: 100px;
}
product-preview .video-attribute {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 12px;
}

product-preview .video-title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

product-preview .video-poster {
    display: block;
    overflow: hidden;
    border-radius: 4px;

    width: 200px; /*TODO auto size*/
    min-width: 200px;
    height: 220px;
    margin-left: 20px;
}

product-preview .ratings-wrap {
    margin: 25px 0;
}


product-preview .video-description {
    font-size: 17px;
    line-height: 1.5;
}







product-publication { /* right panel for editing product stuffs */
    display: block;
    flex: 1;
    width: 100%;
    height: 100%;

    padding: 25px;
    overflow-y: auto;
}

product-publication .publication-header {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    border-radius: 4px;
    margin-bottom: 25px;
    background-color: #33393b;
}
product-publication .publication-header-search {
    background-color: #2b3032;
}


product-publication .video-panels {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

product-publication .video-details {
    flex: 1;
}

product-publication .video-attribute {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}
product-publication label {
    font-weight: 400;
    margin-right: 10px;
    width: 150px;
}
product-publication input,
product-publication textarea {
    padding: 2px 10px;
    background-color: #33393b;
    border: 1px solid #1b1f20;
    border-radius: 4px;
    height: 34px;
    width: 250px;

    flex: 1;
}
product-publication textarea {
    height: auto;
    resize: vertical;
    min-height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
}
product-publication input:focus,
product-publication textarea:focus {
    border-color: #215d9c;
}



product-publication .video-poster-panel {
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
product-publication .video-poster {
    display: block;
    overflow: hidden;
    width: 180px;

    padding: 5px;
    border: 1px solid #1b1f20;
    border-radius: 4px;
}
product-publication .video-field-poster {
    display: none;
}
product-publication .video-choose-poster { /* label button*/
    display: none;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;

    background-color: #33393b;
    border: 2px solid #555;
}
product-publication .video-poster-panel:hover .video-choose-poster {
    display: block;
}
product-publication .video-choose-poster:hover {
    border-color: #888;
}

.stars-rating {
    display: flex;
}
.stars-rating-check {
    display: none;
}

.stars-rating-star,
.stars-rating-none { /*label icon*/
    width: 30px;
    height: 30px;
    display: block;
    margin: 0;
    cursor: pointer;

    background: transparent no-repeat center;
    background-size: 24px;
}
.stars-rating-none {
    background-image: url(imgs/icon-nostar-off.svg);
}

.stars-rating-check:checked ~ .stars-rating-check + .stars-rating-star { /* non-checked stars*/
    background-image: url(imgs/icon-star-off.svg);
    background-color: transparent;
}
.stars-rating-check:checked + .stars-rating-none { /* "none" checked star*/
    background-image: url(imgs/icon-nostar-on.svg);
    background-color: transparent;
}

.stars-rating-check + .stars-rating-star { /* checked star ; exclude "none" icon */
    background-image: url(imgs/icon-star-on.svg);
    /* background-color: orange; */
}

.stars-rating-check + .stars-rating-star:first-of-type { /* outer left checked star ; exclude "none" icon */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.stars-rating-check:checked + .stars-rating-star { /* outer right checked star */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}











app-statusbar { /* bottom bow with quick infos */
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    align-items: center;

    height: 30px;
    min-height: 30px;

    font-size: 14px;
    line-height: 14px;

    background-color: #33393b;

    padding: 5px;
    padding-left: 15px;
}






snackbar {
    display: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    bottom: 30px;

    min-width: 250px;
    width: 40%;
    margin-left: -20%;

    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 15px;

    font-size: 17px;
    line-height: 17px;
    font-weight: 300;
    box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.3);
}
snackbar.is-visible {
    animation: snackbar-fadein 0.5s, snackbar-fadeout 0.5s 2.5s;
}

@keyframes snackbar-fadein {
    from { bottom: 0; opacity: 0; }
    to { bottom: 30px; opacity: 1; }
}
@keyframes snackbar-fadeout {
    from { bottom: 30px; opacity: 1; }
    to { bottom: 0; opacity: 0; }
}





@media all and ( max-width: 650px ) {

    /* top toolbar */

    app-toolbar button.hamburger {
        display: inline-block;
    }

    app-toolbar button:not(.hamburger) {
        text-indent: -9999px;/*hide text*/
        white-space: nowrap;
        background-position: center;
    }

    #providers {
        display: none;
    }

    app-sidebar,
    product-panel {
        /*fix for transition animation*/
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
    }
    app-sidebar {
        border-right: 0;
    }
    product-panel {
        z-index: 1;
        transition: all 300ms ease-out;
    }

    .is-hamburger-open product-panel {
        opacity: 0; /*invisible pendant l'animation, mais cliquable*/
        transform: scale(0.85);
        visibility: hidden;
    }




    search-toolbar {
        height: 60px;
        min-height: 60px;
        padding: 10px;
    }

    /*content*/

    product-preview {
        padding: 15px;
    }


    product-preview .video-details {
        width: 100%;
    }

    product-preview .video-title,
    product-preview .video-panel-title,
    product-preview .video-panel-subtitle {
        text-align: center;
    }

    product-preview .video-attributes label {
        margin-bottom: 12px;
        width: 100%;
        min-width: 100%;
        text-align: center;
    }
    product-preview .video-attribute {
        align-items: center;
        flex-direction: column;
    }

    product-preview .video-poster {
        display: none; /*todo*/
    }


    .stars-rating {
        justify-content: center;
    }
}