{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["Chrome 59"]
            },
            "modules": false
        }]
    ],
    "plugins": [
        ["transform-react-jsx",{"pragma": "h"}]
    ],
    "ignore": [
        "preload.js"
    ]
}