{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["Chrome 50", "Chrome 61"]
            },
            "modules": "commonjs",
            "useBuiltIns": true
        }]
    ],
    "plugins": [
        ["transform-react-jsx", {"pragma": "h", "useBuiltIns": true}],
        ["transform-object-rest-spread", {"useBuiltIns": true}]
    ],
    "ignore": [
        "preload.js"
    ]
}