node_modules/
package-lock.json
release-builds/
.cache
bundle/
android/obj/
android/apk/
android/classes.dex
android/keystorepass
android/mykey.keystore
android/store-icon.png
android/res/mipmap-*
android/**/R.java
__ideas
webkit2gtk/devbuild
gtkapplication/devbuild
