node_modules/
package-lock.json
release-builds/
.cache
bundle/
android/obj/
android/apk/
android/classes.dex
android/keystorepass
android/mykey.keystore
android/store-icon.png
android/res/mipmap-*
android/java/fr/spidery/moviecollection/R.java
