* {
    margin:0;
    padding:0;
    }
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    text-shadow: 0 0 1px rgba(0,0,0, .3); /*fake-smoothing*/
}
html, body, .viewport {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.viewport {
    float: left; /*fix vertical margin collapse*/
    display: flex;
    flex-direction: column;
    background-color: #fff;

    box-shadow: 0 0 3px rgba(0,0,0,0.3);

    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 5px;
}

img {
    border: 0;
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;

    transition: all 0.5s ease;
}
a {
    text-decoration: none;
    color: #2d2d2d;
}

/* window frame */

app-titlebar {
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;

    display: flex;
    justify-content: space-between;

    /* background-color: #18A47E; */
    background-color: #1abc9c;
    color: #fff;

    height: 100px;
}
app-titlebar button {
    -webkit-app-region: no-drag;
}


app-panel {
    display: flex;
    flex-direction: row;
    flex: 1;
}
column-items {
    width: 100px;
}
display-product {
    flex: 1;
}

app-statusbar {
    display: block;
    height: 100px;
    background: grey;
}


