@define-color theme_color #00726e;/*00726e-006888-1abc9c*/
@define-color theme_hover shade(@theme_color, 1.1);
@define-color theme_active shade(@theme_color, 0.8);

/* * {
    transition-property: color, background-color, border-color, background-image, padding, border-width;
    transition-duration: 1s;
} */

.movie_window {
    /* all: unset; */
}
decoration {
    box-shadow: 0 3px 9px 1px rgba(0,0,0, 0.5)
}

/*reset header*/
.headerbar,
.headerbutton {
    background: transparent;
    background-image: none;
}
.headerbar {
    /* min-height: 40px; */
    /* padding: 5px; */
    background-color: #2c3133;
    background-image: none;
    box-shadow: inset 0 1px rgba(238,238,236, 0.07); /*fg_color*/
    border-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.headerbutton {
    border: 0;
    border-color: unset;
    border-radius: 4px;
    box-shadow: none;
    padding: 4px 8px;
    margin: 6px 0;
    transition: background-color 200ms ease;
}
.headerbutton:hover {
    background-color: @theme_hover;
}
.headerbutton:active {
    background-color: @theme_active;
}
.headerbutton image {
    -gtk-icon-shadow: none;
}

.headerbar .title {
    color: #fff;
}

/* context menu */

menu separator {
    background-color: #555;
}
menu menuitem {
    color: #fff;
    background-color: #2c3133;
}
menu menuitem:hover {
    background-color: @theme_hover;
}
menu menuitem:disabled {
    color: #555;
}
menu menuitem:hover:disabled {
    background-color: #555;
}


/* toolbar */

.toolbar {
    padding: 5px;
    background-color: #2c3133;
}

.toolbar-button {
    border-radius: 4px;
    padding: 0 10px;
    /* padding-left: 40px; */
    margin-right: 5px;
    color: #fff;
    border: none;
    box-shadow: none;
    background: transparent;
    transition: background-color 200ms ease;
}
.toolbar-button:hover {
    background-color: @theme_hover;
}
.toolbar-button:active {
    background-color: @theme_active;
}

.toolbar-source {
    margin-right: 0;
    margin-left: 5px;
}
.toolbar-source:checked {
    background-color: @theme_hover;
}
/* .toolbar-source:checked:hover {
    background-color: @color_active_hover;
} */



/* sidebar */

.sidebar {
    color: #fff;
    background-color: #2b3032;
    border-right: 1px solid #1b1f20;
}

.searchbox  {
    padding: 20px;
    background-color: #373d41;
}
.searchbox-entry {
    padding: 8px 20px;
    min-height: 0;/*size req*/
    color: #999;
    background-color: #2c3133;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: border-color 200ms ease;
    background-image: none;
    box-shadow: none;
}
.searchbox-entry:focus {
    border-color: @theme_color;
}

/* categories list */

.categories {
    background-color: #2b3032;
}

.category-item {
    color: #fff;
    min-height: 40px;
    padding: 0 15px;
    transition: background-color 200ms ease;
}
.category-item:hover {
    background-color: #34393b;
}
.category-item:selected {
    background-color: @theme_color;
}
.category-item:selected:hover {
    background-color: @theme_hover;
}
.category-item:selected:active {
    background-color: @theme_active;
}

/* status bar */

.statusbar {
    color: #fff;
    background-color: #33393b;
    padding: 0 15px;
    min-height: 30px;
}




.star-enabled {
	color: #ff00ff;
}
.star-disabled {
	color: #00ff00;
}
