
/*reset header*/
headerbar.titlebar,
button.titlebutton {
    background: transparent;
    background-image: none;
    transition: all 200ms ease;
}

headerbar.titlebar {
    min-height: 45px;
    /* padding: 5px; */
    background-color: #2c3133;
    background-image: none;
    box-shadow: inset 0 1px rgba(238,238,236, 0.07); /*fg_color*/
    border-bottom: 0;
}
button.titlebutton {
    border: 0;
    border-color: unset;
    border-radius: 4px;
    box-shadow: none;
    /* padding: 6px; */
}
button.titlebutton:hover {
    background-color: #1abc9c;
}
button.titlebutton:active {
    background-color: #16a085;
}

headerbar.titlebar label.title {
    color: #fff;
}

